{% extends 'crud/base.html.twig' %}

{% block panel %}
  <table {{ with_props({ class: 'table table-striped', data: { controller: controller } }) }}></table>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
window.tableOptions = {
  columns: {{ columns|json_encode|raw }},
  buttons: {{ buttons|json_encode|raw }},
  dom: 'Bfrtip',
  serverSide: true,
  ajax: {
    url: '{{ app.request.uri }}',
  },
}
</script>
{% endblock %}