<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ project.name }}{% endblock %}</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
  {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
    <script>const appx = { baseURL: '{{ app.request.baseUrl }}' };</script>
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>
<body {{ with_props(_body.props ?? null, (_body.class ?? null) ? { class: _body.class } : null, { class: { 'body-gray': _body.gray ?? null, 'vh-100': _body.full ?? null, 'd-flex': _body.flex ?? _body.center ?? null, 'align-items-center justify-content-center': _body.center ?? null } }) }}>
  {% block body %}{% endblock %}
</body>
</html>
