{% macro show(message, type = 'danger', dismissible = true) %}
  {% if message %}
    <div {{ with_class(['alert fade show', 'alert-' ~ type], { 'alert-dismissible': dismissible }) }} role="alert">
      {{ message }}

      {% if dismissible %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro danger(message, dismissible = true) %}
  {{ _self.show(message, 'danger', dismissible) }}
{% endmacro %}

{% macro info(message, dismissible = true) %}
  {{ _self.show(message, 'info', dismissible) }}
{% endmacro %}

{% macro warning(message, dismissible = true) %}
  {{ _self.show(message, 'warning', dismissible) }}
{% endmacro %}

{% macro success(message, dismissible = true) %}
  {{ _self.show(message, 'success', dismissible) }}
{% endmacro %}